@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid  mt-5 ">
    <table class="table table-hover shadow">
        <thead class=" tableHeadDark ">
            <tr class="border-bottom-0 ">
                <th class="w-50 text-center align-text-top" scope="col" rowspan="2">
                    Przeznaczenie Budynków
                </th>
                <th class="w-25  " colspan="2" rowspan="2">
                    <div class="mb-3 text-center">
                        Minimalna szerokość użytkowa
                    </div>
                    <div class="d-flex w-100">
                        <div class="text-center w-50 paddingTableHeadRight" >biegu</div>
                        <div class="text-center w-50 paddingTableHeadLeft">Spocznika</div>
                    </div>
                </th>

                <th class="w-25 text-center align-text-top" scope="col" rowspan="2">
                    Maksymalna wysokość stopni
                </th>

            </tr>
        </thead>
        <tbody class="table-border text-center">
            <tr>
                <td id="firstPop" class="text-left">
                    Budynki mieszkalne jednorodzinne
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,19
                </td>
            </tr>
            <tr>
                <td id="secondPop"  class="text-left">
                    Budynki mieszkalne wielorodzinne 
                </td>
                <td>
                    1,2
                </td>
                <td>
                    1,5
                </td>
                <td>
                    0,175
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Przedszkola i żłobki
                </td>
                <td>
                    1,2
                </td>
                <td>
                    1,3
                </td>
                <td>
                    0,15
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Budynki opieki zdrowotnej
                </td>
                <td>
                    1,4
                </td>
                <td>
                    1,5
                </td>
                <td>
                    0,15
                </td>
            </tr>
            <tr>
                <td id="thirdPop"  class="text-left">
                    Garaże wbudowane 
                </td>
                <td>
                    0,9
                </td>
                <td>
                    0,9
                </td>
                <td>
                    0,19
                </td>
            </tr>
            <tr>
                <td id="fourthPop"  class="text-left">
                    We wszystkich budynkach 
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,2
                </td>
            </tr>
        </tbody>
    </table>
</div>