@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid  mt-5 ">
    <table class="table table-hover ">
        <thead class=" tableHeadDark">
            <tr class="border-bottom-0 ">
                <th class="w-50 text-center align-text-top" scope="col" rowspan="2">
                    Przeznaczenie Budynków
                </th>
                <th class="w-25  " colspan="2" rowspan="2">
                    <div class="mb-3">
                        Minimalna szerokość użytkowa
                    </div>
                    <div>
                        <div class="d-inline mr-lg-4">biegu</div>
                        <div class="d-inline ml-lg-5">Spocznika</div>
                    </div>
                </th>

                <th class="w-25 text-center align-text-top" scope="col" rowspan="2">
                    Maksymalna wysokość stopni
                </th>

            </tr>


        </thead>
        <tbody>
            <tr>
                <td>
                    Budynki mieszkalne jednorodzinne i w zabudowie zagrodowej oraz mieszkania dwupoziomowe
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,19
                </td>
            </tr>
            <tr>
                <td>
                    Budynki mieszkalne wielorodzinne, budynki zamieszkania zbiorowego oraz budynki użyteczności publicznej, z wyłączeniem budynków zakładów opieki zdrowotnej 4  , a także budynki produkcyjne, magazynowo-składowe oraz usługowe, w których zatrudnia się ponad 10 osób
                </td>
                <td>
                    1,2
                </td>
                <td>
                    1,5
                </td>
                <td>
                    0,175
                </td>
            </tr>
            <tr>
                <td>
                    Przedszkola i żłobki
                </td>
                <td>
                    1,2
                </td>
                <td>
                    1,3
                </td>
                <td>
                    0,15
                </td>
            </tr>
            <tr>
                <td>
                    Budynki opieki zdrowotnej
                </td>
                <td>
                    1,4
                </td>
                <td>
                    1,5
                </td>
                <td>
                    0,15
                </td>
            </tr>
            <tr>
                <td>
                    Garaże wbudowane i wolno stojące (wielostanowiskowe) oraz budynki usługowe, w których zatrudnia się do 10 osób
                </td>
                <td>
                    0,9
                </td>
                <td>
                    0,9
                </td>
                <td>
                    0,19
                </td>
            </tr>
            <tr>
                <td>
                    We wszystkich budynkach niezależnie od ich przeznaczenia schody do kondygnacji podziemnej, pomieszczeń technicznych i poddaszy nieużytkowych
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,8
                </td>
                <td>
                    0,2
                </td>
            </tr>
        </tbody>
    </table>
</div>